[submodule "tools/toolchain"]
	path = tools/toolchain
	branch = android-9.0.0_r53
	url = https://android.googlesource.com/platform/prebuilts/gcc/linux-x86/aarch64/aarch64-linux-android-4.9
[submodule "tools/clang-linux-x86"]
	path = tools/clang-linux-x86
	branch = android-9.0.0_r53
	url = https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86
[submodule "kernel_source"]
	path = kernel_source
	branch = master
	url = https://github.com/mKenfenheuer/realmeX2Pro-kernel-source.git
[submodule "tools/prebuilts"]
	path = tools/prebuilts
	branch = android-9.0.0_r53
	url = https://android.googlesource.com/platform/prebuilts/misc/
